<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<legend><h2>Sobre BigPudu</h2></legend>
		<p>
			Fundado a principios de julio del 2016, BigPudu es punto de encuentro para todas aquellas personas que buscan u ofrecen clases particulares. BigPudu busca facilitar la experiencia del aprendizaje, encontrando y conectándote con el profesor indicado para ti.
		</p>

		<p>
			Aprender y entender es súper gratificante, como también lo es obtener una buena nota, salvar el semestre y ampliar el conocimiento de uno. A todos nos pasa que a veces nos quedamos un poco estancados y necesitamos de alguien que nos ayude. Sin embargo, sabemos lo complejo que puede ser encontrar a alguien adecuado que te enseñe, es decir, que maneje los contenidos con la profundidad necesaria, que tenga el enfoque que buscas, que comparta tu disponibilidad horaria y, que a su vez, esté al alcance del bolsillo.
		</p>

		<p>
			BigPudu simplifica todo este proceso, ¿No es genial que en menos de 3 minutos puedas encontrar un profesor y coordinar tu próxima clase? Esa clase que te ayudará a pasar el ramo y evitar atrasarte en tu carrera.
		</p>
	</div>
</div>


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<legend><h2>Sobre Nosotros</h2></legend>

		<p>
			Somos un equipo de jóvenes profesionales, comprometidos con ayudar a mejorar la educación y compartir el conocimiento que cada uno tiene. Debido a nuestra experiencia, en conjunto sumamos más de 25 años realizando clases particulares y, a nuestro conocimiento del usuario moderno, tenemos una solución moderna a un problema que se agudiza con la especialización del conocimiento.
		</p>
	</div>
</div>