<div id="landing">
	<div class="row background-home">
	<div class="col-md-12">
		
		<div class="caption text-center">
			<h1>
				La nueva forma de conectar alumnos y profesores
				<br><br>

				¡Enseña y aprende seleccionando tus ramos!
			</h1>
			
			<p class="actions">
				<%= link_to "Quiero aprender", "#", class: "btn btn-lg btn-primary" %>
				<%= link_to "Quiero enseñar", "#", class: "btn btn-lg btn-primary" %>
			</p>
		</div>
	</div>
</div>



<section id="desc" class="row">
	<div class="col-md-4">
		<div class="column">
		    Busca o realiza clases en ramos de tu carrera
	    </div>
	</div>
	<div class="col-md-4">
		<div class="column">
			<p>
				Con una búsqueda envía solicitudes a varios profesores
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="column">
			<p>¡BigPudu coordinará tus clases!</p>
		</div>
	</div>
</section>

<section id="last" class="text-center">
	<h2>
		<p>Tu clase particular te cuesta menos del 1% de tu semestre</p>
		<p>¡Sálvalo!</p>
	</h2>

	<div class="actions">
		<%= link_to "Quiero aprender", "#", class: "btn btn-lg btn-primary" %>
	</div>

	<legend></legend>

	<h2>
		<p>Tú eliges qué quieres enseñar, tu disponibilidad horaria y el precio</p>
		<p>¡Todo lo que ganas es tuyo, sin ningún tipo de comisión, enseña ya!</p>
	</h2>

	<div class="actions">
		<%= link_to "Quiero enseñar", "#", class: "btn btn-lg btn-primary" %>
	</div>
</section>

<section class="contact text-center">
	<h5>
		<strong>
			bigpudu@gmail.com
		</strong>
	</h5>
</section>
</div>

