<%= form_for([:admin, @master_career], html: {class: "form-isnline"}) do |f| %>

  <div class="form-group">
    <%= f.label :name, "Nombre de la Carrera Maestra" %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>
<% end %>
